body {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 h2{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
}

#counter {
    font-size: 300px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

#increment #decrement #reset {
    flex: 1;
    font-family: 'Source Code Pro', monospace;
}